.list-alpha {
    padding: 2rem 0.5rem;
}

.list-alpha-item {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    height: auto;
}

.list-alpha-item__col-image {
    width: 33.33%;
}
.list-alpha-item__col-content {
    width: 66.66%;
    padding: 0 1rem;
}

.list-alpha-item__fake-image {
    background-color: #7DC075;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    min-height: 6rem;
    display: flex;
    justify-content: center;    
    align-items: center; 
    font-size: 1.5rem;
    font-weight: bold;
    @media(min-width: 768px) {
        font-size: 2.5rem;      
    }
}



.list-alpha-item__name {
    font-size: 1.5rem;
    color: var(--dark-indigo);
    font-weight: bold;
    margin-bottom: 0.3rem;
}
.list-alpha-item__type {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    color: var(--warm-grey);
}
.list-alpha-item__country {
    font-size: 1rem;
    color: var(--warm-grey);
}