.page-login{
    padding: 7rem 0.5rem;
}

.page-login__container {
    max-width: 26rem;
    margin: 0 auto;
}

.page-login__title {
    font-size: 2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--charcoal-grey);
    max-width: 15rem;
    margin: 0 auto;
}

.page-login__welcome-msg {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.13px;
    text-align: center;
    color: var(--charcoal-grey);
}