.input-field {    
    position: relative;
    width: auto;
}
.input-field__input {
    background-color: transparent;
    display: block;
    margin-bottom: 0.5rem;
    border: 0;
    border-bottom: solid 0.3px var(--charcoal-grey);
    color: var(--charcoal-grey);
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    padding-left: 3rem;
    &--invalid {
        border-color: #ff0f44;
    }
    &--white-border {
        border-color: #fff;
    }
    &--white-color {
        color: #fff;
    }
    &--initial-hidden{
        display: none;
        background-color: pink;
    }

    
}

.input-field__icon {
    position: absolute;
    left: 0;
    top: 50%;
    width: 2rem;
    height: 2rem;
    transform: translateY(-50%);
    &--alig-to-right {
        left: inherit;
        right: 0;
    }
}

.input-field__error-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #ff0f44;
    text-align: center;
    color: #fff;
    padding-top: 0.5rem;
    box-sizing: border-box;

}