
.company-page__container {
    max-width: 45rem;
    margin: 0 auto;
}

.company-page__header {
    background-color: #ee4c77;
    display: flex;
    align-items: center;    
    padding: 1rem 0.5rem;
}

.company-page__icon {
    width: 2rem;
    height: auto;
}
.company-page__name {
    color: #fff;
    padding-left: 2rem;
}

.company-page__body {
    background-color: #fff;
    padding: 1rem;
    @media(min-width: 768px) {
        padding: 2rem 2rem;    
    }    
}

.company-detail__fake-image {
    background-color: #7DC075;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    min-height: 8rem;
    display: flex;
    justify-content: center;    
    align-items: center; 
    font-size: 1.5rem;
    font-weight: bold;
    @media(min-width: 768px) {
        font-size: 2.5rem;      
    }

}

.company-detail__description {
    color: var(--warm-grey);
    font-family: 'Source Sans Pro';
    padding-top: 1rem;
    line-height: 1.5;
    font-size: 1rem;
    @media(min-width: 768px) {
        padding-top: 2rem;   
    }    
}