.form-login {
    overflow: hidden;
}

.form-login__wrapper-button {
    padding: 0 1rem;
}

.form-login__msg-error {
    color: #ff0f44;
    padding: 0.5rem 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}



