.page-search {
}

.page-search__container {
    max-width: 45rem;
    margin: 0 auto;
    overflow: hidden;
}

.page-search__message {
    padding-top: 10rem;
    text-align: center;
    color: var(--charcoal-grey);
    font-size: 1rem;
    &--no-one-results {
        color: #b5b4b4;
    }
}


