.search-bar {
    background-color: #ee4c77;
    padding: 0.5rem 1rem; 
    text-align: center;
    position: relative;
    min-height: 5rem;
}


.search-bar__logo {
    box-sizing: border-box;
    display: inline-block;
    width: 10rem;
    height: auto;
    margin: 0 auto;
    &--hidden {
        display: none;
    }
}
.search-bar__wrapper-field {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    left: 0.5rem;
    @media(min-width: 768px) {
        right: 1rem;
        left: 1rem;       
    }
}
