.btn {
    border: 0;
    padding: 0.5rem 1rem;
    font-family: Roboto;
    &:focus {outline:0;} 
    border-radius: 0.25rem;    
}

.btn-default {
    @extend .btn;
    background-color: #fff;
    color: #4ABB7E;   
    &--full {
        width: 100%;
    }
}
.btn-primary {
    @extend .btn;
    background-color: var(--greeny-blue);
    color: #fff;
    &--full {
        width: 100%;
    }   
    &--extra-large {
        font-weight: bold;
        font-size: 1.3rem;
        padding: 1.2rem 1rem;
    }        
}    