:root {
    --white: #d8d8d8;
    --white-two: #ffffff;
    --dark-indigo: #1a0e49;
    --warm-grey: #8d8c8c;
    --night-blue: #0d0430;
    --charcoal-grey: #383743;
    --beige: #ebe9d7;
    --greeny-blue: #57bbbc;
  }

html {
    font-size: 16px;
}

body {
    background-color: beige;
    font-family: 'Roboto';
}
/* font-family: 'Source Sans Pro', ; */