
label {
    display: block;
}
.src-only {
    display: none;
}
:focus { outline: none; }

$sizePlaceHolder: 1rem;
$colorPlaceHolder: var(--charcoal-grey);  
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $colorPlaceHolder;
    font-size: $sizePlaceHolder
}
::-moz-placeholder { /* Firefox 19+ */
    color: $colorPlaceHolder;
    font-size: $sizePlaceHolder;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $colorPlaceHolder;
    font-size: $sizePlaceHolder;
}
:-moz-placeholder { /* Firefox 18- */
    color: $colorPlaceHolder;
    font-size: $sizePlaceHolder;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}